	body{
	    background-image: url("Media/GIF/bckg.gif");
	}

	h1{
		color:skyblue;
		text-align: center;
	}

	h2{
		color:skyblue;
	}

	h2.links{

		color:skyblue;
		animation: linkmove 5s infinite;
	}
	@keyframes linkmove {

 		50% {color: red;}
	}


	h3{
		color:skyblue;
	}

	h4{
	}

	div.titleart{
		line-height: 1.2;
		word-spacing: 7.2px; 
		white-space: pre; 
		color: skyblue; 
		text-align: center;
	}

	div.subart{
		line-height: 1.2; 
		word-spacing: 2.8px; 
		white-space: pre; 
		color: skyblue; 
		font-size: 6px;
	}

	div.linkart{
		line-height: 1.2; 
		word-spacing: 2.8px; 
		white-space: pre; 
		color: skyblue; 
		font-size: 6px;
		color:skyblue;
		animation: linkmove 5s infinite;
		text-align: center;
	}

	table{
		width: 100%;
	}

	table.list{
		max-width: 1000px;
		margin: 0px auto;
		background-color: rgba(0, 0, 0, 0.4);
	}

	div.list{
		max-width: 1000px;
		margin: 0px auto;
		background-color: rgba(0, 0, 0, 0.4);
	}

	div.sticky{
		position: sticky;
		top:0;
		background-color: black;
	}

	p{
		color:lightsteelblue;
	}

	tr{
		color:lightsteelblue;
		text-align: center;
	}
	
	a.button {
	    padding: 1px 6px;
	    border: 1px outset buttonborder;
	    border-radius: 3px;
	    border-color: deepskyblue;
	    color: deepskyblue;
	    background-color: black;
	    text-decoration: none;
	}

	a.blog {

		padding: 1px 6px;
	    border: 1px outset buttonborder;
	    border-radius: 3px;
	    border-color: deepskyblue;
	    color: deepskyblue;
	    background-color: black;
	    text-decoration: none;
	    animation: mymove 5s infinite;
	}

	@keyframes mymove {
 		50% {border-color: lightblue;}
 		50% {color: lightblue;}
	}


	li{
		color:deepskyblue;
	}

	table{
		table-layout: fixed;
	}

	th.links{
		text-align: left;
	}

	td.links{
		text-align: left;
		vertical-align: top;
	}

	img.poster{
		height:85%;
		width:85%;
	}

	img.profile{
		height:100%;
		width:100%;
	}